#explorer {
    background-color: #181818;
    color: #ffffff;
    height: 100%;
    left: 0px;
    padding: 5px;
    position: fixed;
    top: 30px;
    width: 15%;
}

#explorer ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 5px;
}

#explorer ul li:hover {
    background-color: #505050;
    cursor: pointer;
}

#explorer ul li.is-active {
    background-color: #505050;
}

#explorer ul li {
    padding: 2px;
}

#explorer ul li a {
    color: #fff;
    font-size: 0.9em;
    font-weight: 100;
}

#explorer .sidebar-item-content button {
    display: block;
    font-size: 0.8em;
    margin: 0 auto;
}

#explorer .sidebar-item-content .sidebar-new-file-form input,
#explorer .sidebar-item-content .sidebar-new-directory-form input {
    border-radius: 0;
    display: inline-flex;
    font-size: 0.6em;
    width: 89%;
}

#explorer .sidebar-item-header {
    position: relative;
}

#explorer .sidebar-item-header-newfile svg, #explorer .sidebar-item-header-newdirectory svg {
    cursor: pointer;
    fill: #fff;
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    right: 25px;
    top: 9px;
}

#explorer .sidebar-item-header-newfile svg:hover, #explorer .sidebar-item-header-newdirectory svg:hover {
    fill: #598ec3;
}

#explorer .sidebar-item-header-newdirectory svg {
    right: 5px;
}

#explorer .sidebar-item-is-directory {
    position: relative;
    padding-left: 20px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 400;
}

#explorer .sidebar-item-is-directory svg {
    fill: #fff;
    left: 0;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 5px;
}